<app-menu></app-menu>
<div class="container"style="background-color: lightgrey;border-radius: 10px; margin-top:5%;margin-left:15% ">


<div class="row" >
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0">
    <div>
      <h1 style="text-align: center;">Disfrutaron el viaje:</h1>
      <canvas style="text-align:center;" id="grafico1">
      </canvas>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0">
    <div>

        <h1 style="text-align: center;">Quejas del vehículo:</h1>
        <canvas style="text-align:center;" id="grafico4">
        </canvas> 
    </div>
  </div>
</div>
<hr style="border-color: black">
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
    <div>

        <h1 style="text-align: center;">Recomendacion del servicio:</h1>
        <canvas style="text-align:center;" id="grafico6">
        </canvas>

      
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
    <div>

        <h1 style="text-align: center;">Puntialidad del servicio:</h1>
        <canvas style="text-align:center;" id="grafico3">
        </canvas>

        
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
    <div>

        <h1 style="text-align: center;">Calidad del servicio:</h1>
        <canvas style="text-align:center;" id="grafico7">
        </canvas>

     
    </div>
  </div>
</div>
<hr style="border-color: black">
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0">
    <div>
      
        <h1 style="text-align: center;">Buen trato del condutor:</h1>
        <canvas style="text-align:center;" id="grafico2">
        </canvas>

    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0">
    <div>
        <h1 style="text-align: center;">Opinion de la página:</h1>
        <canvas style="text-align:center;" id="grafico5">
        </canvas>
    </div>
  </div>
</div>
</div>




<!--<div style="margin-left: 700px; width:500px;height:500px;">
  <h1 style="text-align: center;">A cuantos les gusto su viaje:</h1>
<canvas style="text-align:center;" id="grafico3">
</canvas>
</div>-->