<app-menu></app-menu>

<div *ngIf="TIPO == 1" style="padding:25px;background-color: #1BA045;border-radius: 10px;margin: 10%;">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <h2>Lista de viajes: </h2>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <select [(ngModel)]="estadoSeleccion" class="form-control" id="select">
          <option value="0">Todos</option>
          <option value="1">Iniciado</option>
          <option value="2">Cancelado</option>
          <option value="3">En proceso</option>
          <option value="4">Finalizado</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <input type="date" class="form-control" [(ngModel)]="horarioSeleccion">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button type="button" class="btn btn-warning" (click)="buscar()"><span class="glyphicon glyphicon-search"></span> Buscar</button>
    </div>
  </div>
  <hr>
  <table class='table table-responsive'>
    <thead>
      <tr>
        <th>Horario</th>
        <th>Duracion</th>
        <th>Distancia</th>
        <th>Precio</th>
        <th>Estado</th>
        <th>Mensaje</th>
        <th>Remisero</th>
        <th>Vehiculo</th>
        <th>Cliente</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let viaje of listaViajes">
      <tr *ngIf="viaje.estado == 1" style="font-size: 25px;font-family: Georgia, 'Times New Roman', serif;background-color: dodgerblue">
        <!--Iniciado-->
        <td>{{viaje.horario}}</td>
        <td>{{viaje.duracion}}</td>
        <td>{{viaje.distancia}}</td>
        <td>{{viaje.precio}}</td>
        <td>Iniciado</td>
        <td>{{viaje.comodidad}}</td>
        <td>No asignado</td>
        <td>No asignado</td>
        <td><img style="width:100px;height:100px;border-radius: 10px;" src="../../../assets/usuarios/{{viaje.FotoCliente}}" /></td>
        <td><button type="button" class="btn btn-primary" (click)="Ver(viaje)">Ver Datos</button></td>
        <td><button type="button" class="btn btn-danger" (click)="cancelar(viaje)" onclick="document.getElementById('id01').style.display='block'">Cancelar</button></td>
      </tr>
      <tr *ngIf="viaje.estado == 3" style="font-size: 25px;font-family: Georgia, 'Times New Roman', serif;background-color: green">
        <!--En proceso-->
        <td>{{viaje.horario}}</td>
        <td>{{viaje.duracion}}</td>
        <td>{{viaje.distancia}}</td>
        <td>{{viaje.precio}}</td>
        <td>En proceso</td>
        <td>{{viaje.comodidad}}</td>
        <td><img style="width:100px;height:100px;border-radius: 10px" src="../../../assets/usuarios/{{viaje.remisero.foto}}" /></td>
        <td><img style="width:100px;height:100px;border-radius: 10px" src="../../../assets/vehiculos/{{viaje.vehiculo.foto}}" /></td>
        <td><img style="width:100px;height:100px;border-radius: 10px" src="../../../assets/usuarios/{{viaje.FotoCliente}}" /></td>
        <td><button type="button" class="btn btn-primary" (click)="Ver(viaje)">Ver Datos</button></td>
        <td><button type="button" class="btn btn-danger" (click)="cancelar(viaje)" onclick="document.getElementById('id01').style.display='block'">Cancelar</button></td>
      </tr>
      <tr *ngIf="viaje.estado == 2" style="font-size: 25px;font-family: Georgia, 'Times New Roman', serif;background-color: red">
        <td>{{viaje.horario}}</td>
        <td>{{viaje.duracion}}</td>
        <td>{{viaje.distancia}}</td>
        <td>{{viaje.precio}}</td>
        <td>Cancelado</td>
        <td>{{viaje.comodidad}}</td>
        <td *ngIf="viaje.remisero.foto !=null"><img style="width:100px;height:100px;border-radius: 10px" src="../../../assets/usuarios/{{viaje.remisero.foto}}" /></td>
        <td *ngIf="viaje.remisero.foto ==null"> No asignado</td>
        <td *ngIf="viaje.vehiculo.foto !=null"><img style="width:100px;height:100px;border-radius: 10px" src="../../../assets/vehiculos/{{viaje.vehiculo.foto}}" /></td>
        <td *ngIf="viaje.remisero.foto ==null">No asignado</td>
        <td><img style="width:100px;height:100px" src="../../../assets/usuarios/{{viaje.FotoCliente}}" /></td>
        <td><button type="button" class="btn btn-primary" (click)="Ver(viaje)">Ver Datos</button></td>
        <td></td>
      </tr>
      <tr *ngIf="viaje.estado == 4" style="font-size: 25px;font-family: Georgia, 'Times New Roman', serif;background-color: green">
        <!--Finalizado-->
        <td>{{viaje.horario}}</td>
        <td>{{viaje.duracion}}</td>
        <td>{{viaje.distancia}}</td>
        <td>{{viaje.precio}}</td>
        <td>Finalizado</td>
        <td>{{viaje.comodidad}}</td>
        <td><img style="width:100px;height:100px;border-radius: 10px" src="../../../assets/usuarios/{{viaje.remisero.foto}}" /></td>
        <td><img style="width:100px;height:100px;border-radius: 10px" src="../../../assets/vehiculos/{{viaje.vehiculo.foto}}" /></td>
        <td><img style="width:100px;height:100px;border-radius: 10px" src="../../../assets/usuarios/{{viaje.FotoCliente}}" /></td>
        <td><button type="button" class="btn btn-primary" (click)="Ver(viaje)">Ver Datos</button></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="TIPO == 3" style="padding:25px;background-color: #1BA045;border-radius: 10px;margin: 10%;">
  
  
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <h2>Lista de viajes: </h2>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <select [(ngModel)]="estadoSeleccion" class="form-control" id="select">
          <option value="0">Todos</option>
          <option value="2">Cancelado</option>
          <option value="3">En Proceso</option>
          <option value="4">Finalizado</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <input type="date" class="form-control" [(ngModel)]="horarioSeleccion">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button type="button" class="btn btn-warning" (click)="buscar()"><span class="glyphicon glyphicon-search"></span> Buscar</button>
    </div>
  </div>
  <hr>
  <table class='table table-responsive'>
    <thead>
      <tr>
        <th>Horario</th>
        <th>Duracion</th>
        <th>Distancia</th>
        <th>Precio</th>
        <th>Estado</th>
        <th>Mensaje</th>
        <th>Cliente</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let viaje of listaViajes">
      <tr *ngIf="viaje.estado == 3" style="font-size: 25px;font-family: Georgia, 'Times New Roman', serif;background-color: green">
        <!--En proceso-->
        <td>{{viaje.horario}}</td>
        <td>{{viaje.duracion}}</td>
        <td>{{viaje.distancia}}</td>
        <td>{{viaje.precio}}</td>
        <td>En proceso</td>
        <td>{{viaje.comodidad}}</td>
        <td><img style="width:100px;height:100px;border-radius: 10px" src="../../../assets/usuarios/{{viaje.FotoCliente}}" /></td>
        <td><button type="button" class="btn btn-primary" (click)="Ver(viaje)">Ver Datos</button></td>
        <td><button type="button" class="btn btn-info" (click)="Finalizar(viaje)">Finalizar</button></td>
        <td><button type="button" class="btn btn-danger" (click)="cancelar(viaje)" onclick="document.getElementById('id01').style.display='block'">Cancelar</button></td>
      </tr>
      <tr *ngIf="viaje.estado == 2" style="font-size: 25px;font-family: Georgia, 'Times New Roman', serif;background-color: red">
        <td>{{viaje.horario}}</td>
        <td>{{viaje.duracion}}</td>
        <td>{{viaje.distancia}}</td>
        <td>{{viaje.precio}}</td>
        <td>Cancelado</td>
        <td>{{viaje.comodidad}}</td>
        <td><img style="width:100px;height:100px;border-radius: 10px" src="../../../assets/usuarios/{{viaje.FotoCliente}}" /></td>
        <td><button type="button" class="btn btn-primary" (click)="Ver(viaje)">Ver Datos</button></td>
        <td></td>
      </tr>
      <tr *ngIf="viaje.estado == 4" style="font-size: 25px;font-family: Georgia, 'Times New Roman', serif;background-color: green">
        <!--Finalizado-->
        <td>{{viaje.horario}}</td>
        <td>{{viaje.duracion}}</td>
        <td>{{viaje.distancia}}</td>
        <td>{{viaje.precio}}</td>
        <td>Finalizado</td>
        <td>{{viaje.comodidad}}</td>
        <td><img style="width:100px;height:100px;border-radius: 10px" src="../../../assets/usuarios/{{viaje.FotoCliente}}" /></td>
        <td><button type="button" class="btn btn-primary" (click)="Ver(viaje)">Ver Datos</button></td>
        <td></td>
      </tr>
      
    </tbody>
  </table>
</div>


<div *ngIf="mostrar && TIPO == 1" style="padding:25px;background-color: #1BA045;border-radius: 10px;margin: 10%;">
  <agm-map>
    <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
  </agm-map>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
        <label>Fecha de viaje </label>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-7">
        <input class="form-control" type="datetime-local" readonly [(ngModel)]="miViaje.horario">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
        <label>Pasajeros: </label>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-9">
        <input type="number" class="form-control" [(ngModel)]="miViaje.cantidad" readonly placeholder="Ingrese N° de pasajeros">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-8 col-xs-12">
        <label class="form-control">Duración {{miViaje.duracion}} minutos</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label class="form-control">Distancia {{miViaje.distancia}} metros</label>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
        <label class="form-control">Precio {{miViaje.distancia | exponentialStrength: 2}} pesos</label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
        <label>Medio de pago </label>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-3 col-xs-6">
        <label class="form-control">{{miViaje.medioDePago}}</label>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <input type="string" class="form-control" readonly [(ngModel)]="miViaje.comodidad">
      </div>
    </div>
  </div>

  <br>
  <div *ngIf="miViaje.estado != 2 && miViaje.estado != 4">
    <h1>Lista de horario: </h1>
    <table class='table table-responsive'>
      <thead>
        <tr>
          <th>Remisero</th>
          <th>Desde</th>
          <th>Hasta</th>
        </tr>
      </thead>
      <tbody *ngFor="let horario of listaHorarios">
        <tr style="background-color: blue">
          <!--Iniciado-->
          <td><img style="width:100px;height:100px;border-radius: 10px" class='fotoGrilla' src="../../../assets/usuarios/{{horario.foto}}" /></td>
          <td>{{horario.timeDesde}}</td>
          <td>{{horario.timeHasta}} </td>
          <td><button type="button" class="btn btn-primary" (click)="Asignar(horario)">Asignar Conductor</button></td>
        </tr>
      </tbody>
    </table>
  </div>





</div>
<div *ngIf="mostrar && TIPO == 3" style="padding:25px;background-color: #1BA045;border-radius: 10px;margin: 10%;">
  <agm-map>
    <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
  </agm-map>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
        <label>Fecha de viaje </label>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-7">
        <input class="form-control" type="datetime-local" readonly [(ngModel)]="miViaje.horario">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
        <label>Pasajeros: </label>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-9">
        <input type="number" class="form-control" [(ngModel)]="miViaje.cantidad" readonly placeholder="Ingrese N° de pasajeros">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-8 col-xs-12">
        <label class="form-control">Duración {{miViaje.duracion}} minutos</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label class="form-control">Distancia {{miViaje.distancia}} metros</label>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
        <label class="form-control">Precio {{miViaje.distancia | exponentialStrength: 2}} pesos</label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
        <label>Medio de pago </label>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-3 col-xs-6">
        <label class="form-control">{{miViaje.medioDePago}}</label>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <input type="string" class="form-control" [(ngModel)]="miViaje.comodidad">
      </div>
    </div>
  </div>
</div>


<div id="id01" class="modal">
  <div class="modal-content">
    <h3>Motivo de cancelación</h3>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input type="text" [(ngModel)]="motivo" class="form-control" placeholder="Ingresa tu motivo">
      </div>
      <br><br>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-1">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" (click)="Cancelar()" [disabled]="motivo.length < 5" class="btn btn-info">Confirmar</button>
      </div>
    </div>
  </div>
</div>
<script>
                                       // Get the modal
                                       var modal = document.getElementById('id01');

                                       // When the user clicks anywhere outside of the modal, close it
                                       window.onclick = function (event) {
                                         if (event.target == modal) {
                                           modal.style.display = "none";
                                         }
                                       }

</script>

<!--div *ngIf="gif">
  <app-preload-imagen></app-preload-imagen>
</div-->