<div class="jumbotron" style="padding:25px;background-color: #1BA045;border-radius: 10px;margin: 5%;">
<h2>Lista de Empleados: </h2>
<hr>
<table class='table table-hover table-responsive table-fixed' style="background-color: rgb(224, 215, 84);text-align: center">
  <thead>
    <tr style="font-size: 25px;font-family: Georgia, 'Times New Roman', serif;">
      <th>Legajo</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>fecha de nacimiento</th>
      <th>Sexo</th>
      <th>Estado</th>
      <th>Foto Empleado</th>
      <th>Foto Vehiculo</th>
    </tr>
  </thead>
  <tbody *ngFor="let usuario of listaUsuarios" >
    <tr [appColor]=usuario.estado style="font-size: 25px;font-family: Georgia, 'Times New Roman', serif;">
      <td>{{usuario.legajo}} </td> 
      <td>{{usuario.nombre}} </td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.fechaNacimiento}}</td>
      <td>{{usuario.sexo | sexo}}</td>
      <td>{{usuario.estado | estado}}</td>
      <td><img  style="width:100px;height:100px;border-radius: 10px;" class='fotoGrilla'  src="../../../assets/usuarios/{{usuario.foto}}" /></td>
      <td *ngIf="usuario.vehiculo.foto != null"><img  style="width:100px;height:100px;border-radius: 10px;" class='fotoGrilla'  src="../../../assets/vehiculos/{{usuario.vehiculo.foto}}" /></td>
      <td *ngIf="usuario.vehiculo.foto == null">Sin Vehiculo</td>
      <td *ngIf="usuario.estado == '1'"><button class="btn btn-info" (click)="Contratar(usuario.legajo)" style="width: 100%">Contratar Empleado</button></td>
      <td *ngIf="usuario.estado == '2'"><button class="btn btn-danger" (click)="Desabilitar(usuario.legajo)" style="width: 100%">Desabilitar Empleado</button></td>
      <td *ngIf="usuario.estado == '3'"><button class="btn btn-success" (click)="Habilitar(usuario.legajo)" style="width: 100%">Habilitar Empleado</button></td>
    </tr> 
    <!--<tr *ngIf="usuario.estado == 1" style="background-color: blue">
      <td>{{usuario.legajo}} </td> 
      <td>{{usuario.nombre}} </td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.fechaNacimiento}}</td>
      <td>{{usuario.sexo}}</td>
      <td>En espera de contrato</td>
      <td><img  style="width:100px;height:100px" class='fotoGrilla'  src="../../../assets/usuarios/{{usuario.foto}}" /></td>
      <td *ngIf="usuario.vehiculo.foto != null"><img  style="width:100px;height:100px" class='fotoGrilla'  src="../../../assets/vehiculos/{{usuario.vehiculo.foto}}" /></td>
      <td *ngIf="usuario.vehiculo.foto == null">Sin Vehiculo</td>
      <td><button class="btn btn-info" (click)="Contratar(usuario.legajo)" style="width: 100%">Contratar Empleado</button></td>
    </tr> 
    <tr *ngIf="usuario.estado == 2" style="background-color: green">
      <td>{{usuario.legajo}} </td> 
      <td>{{usuario.nombre}} </td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.fechaNacimiento}}</td>
      <td>{{usuario.sexo}}</td>
      <td>Disponible</td>
      <td><img  style="width:100px;height:100px" class='fotoGrilla'  src="../../../assets/usuarios/{{usuario.foto}}" /></td>
      <td *ngIf="usuario.vehiculo.foto != null"><img  style="width:100px;height:100px" class='fotoGrilla'  src="../../../assets/vehiculos/{{usuario.vehiculo.foto}}" /></td>
      <td *ngIf="usuario.vehiculo.foto == null">Sin Vehiculo</td>
      <td><button class="btn btn-danger" (click)="Desabilitar(usuario.legajo)" style="width: 100%">Desabilitar Empleado</button></td>
    </tr> 
    <tr *ngIf="usuario.estado == 3" style="background-color: red">
      <td>{{usuario.legajo}} </td> 
      <td>{{usuario.nombre}} </td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.fechaNacimiento}}</td>
      <td>{{usuario.sexo}}</td>
      <td>Suspendido</td>
      <td><img  style="width:100px;height:100px" class='fotoGrilla'  src="../../../assets/usuarios/{{usuario.foto}}" /></td>
      <td *ngIf="usuario.vehiculo.foto != null"><img  style="width:100px;height:100px" class='fotoGrilla'  src="../../../assets/vehiculos/{{usuario.vehiculo.foto}}" /></td>
      <td *ngIf="usuario.vehiculo.foto == null">Sin Vehiculo</td>
      <td><button class="btn btn-success" (click)="Habilitar(usuario.legajo)" style="width: 100%">Habilitar Empleado</button></td>
    </tr>     -->
  </tbody>
</table>
</div>